# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/

# Environment
.env

# unit tests
.coverage

# Alembic
alembic/versions/*.pyc

# IDE
.vscode/
.idea/
*.swp

# OS
.DS_Store
Thumbs.db
